body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: #e5e7eb;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #020617;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a.active {
    color: #22c55e;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.highlight {
    color: #22c55e;
}

/* SOCIAL */
.socials {
    margin-top: 15px;
}

.socials a {
    margin: 10px;
    padding: 10px;
    border: 2px solid #22c55e;
    border-radius: 50%;
    color: #22c55e;
}

.socials a:hover {
    background: #22c55e;
    color: black;
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;
    background: #22c55e;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 15px #4ade80;
}

/* IMAGE */
.image-box {
    background: #22c55e;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 40px #4ade80;
    animation: glow 2s infinite alternate;
}

.image-box img {
    width: 250px;
    border-radius: 20px;
}

/* SECTIONS */
section {
    padding: 60px 30px;
    max-width: 1000px;
    margin: auto;
}

/* CARDS */
.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px #4ade80;
}

/* GRID */
.project-grid, .skills-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

/* STATS */
.stats {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

/* BACKGROUND SHAPES */
.bg-shape {
    position: fixed;
    width: 300px;
    height: 300px;
    background: #22c55e;
    filter: blur(120px);
    opacity: 0.2;
    z-index: -1;
}

.shape1 { top: 10%; left: 10%; }
.shape2 { bottom: 10%; right: 10%; }

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
}

/* ANIMATION */
@keyframes glow {
    from { box-shadow: 0 0 20px #22c55e; }
    to { box-shadow: 0 0 50px #4ade80; }
}